# Load the architecture-agnostic Nix environment
use flake

# Source your outside toolchain script 
if [ -f /opt/wonderful/bin/wf-env ]; then
    source /opt/wonderful/bin/wf-env
else
    echo "Warning: /opt/wonderful/bin/wf-env not found on this system."
fi

# Nix leaves TEMPDIR=/build which doesn't exist anymore, and clangd needs to use TEMPDIR
export TEMPDIR='/tmp'
